@import url("https://unpkg.com/boxicons/css/boxicons.min.css");

.main {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/MadeByMcGill.gif");
}

.main ul {
  margin-top: 3%;
  display: flex;
  justify-content: space-evenly;
}
.main ul li {
  list-style-type: none;
  color: #eee;
  text-align: center;
  width: 100px;
}
.main ul li a {
  font-size: 35px;
}
.main ul li p {
  font-size: 20px;
  display: none;
}
.main ul li :hover p {
  display: block;
}

.main div {
  position: absolute;
  top: 40%;
  left: 10%;
  color: #fff;
}
.main div h1 {
  font-size: 50px;
}
.main div p {
  font-size: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .main div {
    top: 25%;
  }
}
